# Database
DB_HOST=127.0.0.1
DB_PORT=13306
DB_USER=fm_tempsites_writer
DB_PASSWORD=fm_tempsites_pass_123!
DB_NAME=fm_funkmedia

# AWS
AWS_REGION=us-west-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Cognito
COGNITO_USER_POOL_ID=us-west-1_x4Q5up5FL
COGNITO_CLIENT_ID_CUSTOMER=6i6l9qs90itl40c05t3md8mktk
COGNITO_CLIENT_ID_ADMIN=5ls3c0cjv0454kfv4h792cbohc

RECAPTCHA_SECRET_KEY=

# Tenant
TENANT_ID=ujamaaexpo