# Database
DB_HOST=127.0.0.1
DB_PORT=13306
DB_USER=fm_tempsites_writer
DB_PASSWORD=fm_tempsites_pass_123!
DB_NAME=fm_funkmedia

# AWS
AWS_REGION=us-west-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# reCAPTCHA
RECAPTCHA_SECRET_KEY=

# Tenant
TENANT_ID=ujamaaexpo